<ion-content class="fb-bg">
  <div class="responsive-container ion-text-center">
    <img class="ion-align-self-center" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" width="80" alt="Telegram Logo" />
    <h1 class="fb-logo">facebook</h1>

    <ion-input placeholder="Email or phone" fill="solid"></ion-input>
    <ion-input placeholder="Password" type="password" fill="solid" class="ion-margin-top"></ion-input>

    <ion-button expand="block" class="ion-margin-top fb-btn">Log In</ion-button>

    <p class="forgot-link"><a href="#">Forgot Password?</a></p>

    <ion-button expand="block" fill="outline" color="light" class="create-btn">Create New Account</ion-button>
  </div>
</ion-content>
