<ion-content class="ion-padding tinder-bg">
  <div class="main ion-text-center">
    <div class="title">
      <div class="tinder-logo">
        <img
          src="/assets/socialShare/tinder.png"
          width="80"
          alt="Telegram Logo"
        />
      </div>
      <h1 class="tinder-title">Welcome to Tinder</h1>
      <p class="tinder-subtitle">Sign in to start swiping</p>
    </div>
    <div class="buttons">
      <ion-button expand="block" fill="solid" class="google-btn">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Sign in with Google
      </ion-button>

      <ion-button expand="block" fill="solid" class="phone-btn">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        Sign in with Phone Number
      </ion-button>

      <p class="tinder-policy">
        By signing in, you agree to our <a href="#">Terms</a> and
        <a href="#">Privacy Policy</a>.
      </p>
    </div>
  </div>
</ion-content>
