<ion-content class="insta-bg">
  <div class="responsive-container ion-text-center">
    <img class="ion-align-self-center" src="/assets/socialShare/Instagram.png" width="80" alt="Telegram Logo" />
    <h1 class="insta-logo">Instagram</h1>

    <ion-input placeholder="Phone number, username or email" fill="outline"></ion-input>
    <ion-input placeholder="Password" type="password" fill="outline" class="ion-margin-top"></ion-input>

    <ion-button expand="block" class="ion-margin-top insta-btn">Log In</ion-button>

    <div class="divider">OR</div>

    <ion-button fill="clear" class="fb-login">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Log in with Facebook
    </ion-button>

    <p class="forgot-link"><a href="#">Forgot password?</a></p>
  </div>
</ion-content>
