<ion-content class="telegram-bg">
  <div class="responsive-container telegram-container ion-text-center">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg"
      class="telegram-logo"
      alt="Telegram Logo"
    />

    <h2 class="telegram-title">Welcome to Telegram</h2>
    <p class="telegram-subtitle">Please enter your phone number to login</p>

    <ion-input
      label="Phone Number"
      type="tel"
      fill="outline"
      class="ion-margin-top"
      placeholder="+1 234 567 8901"
    ></ion-input>

    <ion-button expand="block" class="ion-margin-top telegram-btn"
      >Next</ion-button
    >

    <p class="telegram-policy">
      By continuing, you agree to our <a href="#">Terms</a>.
    </p>
  </div>
</ion-content>
