<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124018728460-a8b67i4odmssaq4k1124h9phkq46801a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124018728460-a8b67i4odmssaq4k1124h9phkq46801a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124018728460-2m3qc43vircdiufle7gdk4au91pvon50.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPaOJBUrARZ_YmeMOt49FBXyiilyiwVJo</string>
	<key>GCM_SENDER_ID</key>
	<string>124018728460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enappd.ngcapfullapp</string>
	<key>PROJECT_ID</key>
	<string>ionic4fullapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic4fullapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124018728460:ios:280c78643df4e3698ad829</string>
	<key>DATABASE_URL</key>
	<string>https://ionic4fullapp.firebaseio.com</string>
</dict>
</plist>